@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
body {
  min-width: 1000px;
  min-height: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffe4c2;
  font-family: 'Work Sans';
  outline: none;
}

/* ========================== */
/*         Toggle Icon        */
/* ========================== */

#icon {
  float: right;
  margin-right: 50px;
  padding-top: 20px;
  width: 50px;
  height: 60px;
  cursor: pointer;
}

:root {
  --primary-color: #ffffff;
  --result-color: #e1efff;
  --input-color: #272727;
  --output-color: #747474;
  --clear-color: #00dec3;
  --number-color: #e1efff;
  --text-color: #000000;
}

.dark-theme {
  --primary-color: #0d0d0d;
  --result-color: #1c1c1c;
  --input-color: #d8d8d8;
  --output-color: #747474;
  --clear-color: #00c4ac;
  --number-color: #1c1c1c;
  --text-color: #ffffff;
}

/* ========================== */
/*          Container         */
/* ========================== */

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--primary-color);
  width: 428px;
  height: 926px;
  border-radius: 50px 50px 50px 50px;
  display: grid;
}

.inputContainer {
  grid-column: span 4;
  width: 428px;
  height: 332px;
  background-color: var(--result-color);
  border-radius: 50px 50px 50px 50px;
  border: none;
}

input {
  grid-column: span 4;
  width: 428px;
  height: 94px;
  background-color: var(--result-color);
  color: var(--input-color);
  font-size: 88px;
  text-align: end;
  margin: auto;
  margin-top: 99px;
  border: none;
}

#outputContainer {
  grid-column: span 4;
  text-align: end;
  height: 70px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  background-color: var(--result-color);
  color: var(--output-color);
  margin-right: 20px;
}

.keyboard {
  width: 428px;
  border-radius: 0px 0px 50px 50px;
  padding-top: 50px;
  padding-left: 30px;
  background-color: var(--primary-color);
  grid-template-columns: repeat(4, 70px);
}

button {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  background-color: var(--number-color);
  color: var(--text-color);
}

button img {
  background-color: var(--number-color);
}

.clear {
  width: 180px;
  height: 80px;

  background: var(--clear-color);
  border-radius: 30px;
  border-style: none;

  font-weight: 150;
  font-size: 25px;
  color: var(--text-color);
}

.operator {
  background-color: #89c0ff;
  border-radius: 30px;
}

.operator img {
  background-color: #89c0ff;
  margin-top: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
}
